In [2]:
from src.DataLoader import ReadMarkerMap,gdfLoader
from src.API import API

INFO - Logger configured

In [5]:

callApi=API()
MapDataPath="data/cartePalaiseau.csv"

map_gdf=gdfLoader(MapDataPath)
map_gdf

    ID_element    nom                                           geometry
0        21205  4A101  POLYGON ((2.19977 48.71281, 2.19979 48.71287, ...
1        21264  4A413  POLYGON ((2.20045 48.71307, 2.20046 48.71311, ...
2        21265  4A409  POLYGON ((2.20043 48.71301, 2.20044 48.71304, ...
3        21266         POLYGON ((2.20050 48.71315, 2.20055 48.71315, ...
4        21267         POLYGON ((2.20055 48.71317, 2.20059 48.71316, ...
..         ...    ...                                                ...
196      21994  4A249  POLYGON ((2.20069 48.71252, 2.20073 48.71251, ...
197      21995         POLYGON ((2.20140 48.71297, 2.20138 48.71298, ...
198      21996         POLYGON ((2.20109 48.71319, 2.20110 48.71324, ...
199      21997         POLYGON ((2.20116 48.71308, 2.20129 48.71307, ...
200      21998         POLYGON ((2.19980 48.71294, 2.19981 48.71296, ...

[201 rows x 3 columns]